*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

      @font-face {
            font-family: PFRregalDisplayPro;
            src: url(PFRegalDisplayPro-Black.eot);
                }
                  .fuente{
                      font-family: PFRregalDisplayPro;
}
                        /* width Ancho*/ /* height Alto fijo*/

#fondoprincipal{

    width: 100%;
    height: 100%;           
    object-fit: cover;       /*especie de zoom adapta a la pagina*/                             
 }


                            /*parte superior menu*/
          #navmenu{
                  background-color: #000000; /*barra*/
                  height: 50px;
                  position: fixed;
                  width: 100%;
              #logoi { 
                   margin-left: 10px;  
                    }
             #logomovile {
                   display: none;
                         } 

            .links {
                  display: grid;
                  grid-template-columns: 1fr 1fr;
                  align-items: center;
            .idiomas {
                  display: grid;
                  grid-template-columns: repeat(3, 1fr);
                  align-items: end;
                  gap: 40px;
                    img {
                       margin-right: 40px;
                      }
                 } 

                   a {
                      text-decoration: none;
                      color: #7e7e7e;
                     }

           .grey {
                    color: #7e7e7e;
                 }

           .registro { 
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
               
                   a {
                    justify-content: center;
                   }
                 }

               #bar {
                   height: 100%;
                   width: 1px;
                  background-color: #FFFFFF;
                 } 
          }
        }
              /*Parte inferior izquierda flecha*/
  
              #titulos {
                 position: absolute;  /* */
                 top: 500px;     /* hace que suba los titulos sobre laimagen*/
                 margin-left: 5vw;
                 color: #7e7e7e;
                 font-family: PFRregalDisplayPro;

                   button{  /* es para dentro del boton*/
                        background-color: transparent;
                        border-color: white;
                        border-radius: 50px;
                        padding: 16px;
                        color: #FFFFFF;
                        border: 1px solid #FFFFFF;
                        font-family: Arial;
                        font-size: 24PX;
                        font-family: PFRregalDisplayPro;
                      }
                 }
      

                                 /*5 imagenes pequeñas*/
                    #redes{      /*es para mantener todo el bloque*/
                          display: grid;
                          grid-template-columns: 1fr;
                          grid-template-rows: auto 41px 25px 25px 25px;       /*  */
                          width: 45px;
                          justify-items: center; /*centro las imagenes*/
                          position: fixed;
                          top: 100px;
                          img{
                          display: block;   /* poner imagenes una sobre otra*/
                          margin-top: 10px;
                           }
                             p{
                               color: #7e7e7e;
                               transform: rotate(90deg);/*escalar rotar*/
                               display: inline-block;
                             }
                    #rayida{
                          height: 40px;
                          width: 1px;
                          border-left: 3px solid;
                          margin-top: 11VW;
                          color: #7e7e7e;
                          }
                  }
                               /*lineas abajo del banner*/
                   #lineasb {
                        display: grid;
                        grid-template-columns: 5fr 1fr 1fr 1fr 5fr;
                        width: 100%;
                        position: absolute;
                        row-gap: 26px;
                        top: 112vh;
                         } 

                    .linea{
                         height: 10px;
                         width: 31.5px;
                         background-color: #B4B7B7;
                         }
                    #buscador{
                           justify-self: end;
             
                        input{
            
                            border-radius: 40px;
                            border: solid 2px  #FFFFFF;  /*tamaño de la linea del buscador*/
                            background-color: transparent;
                            padding: 16px  65px;  /*centro dentro del buscador superior derecho*/
                            color: #FFFFFF;
                            font-size: 24px;
                            width: 220px;  /*es el tamaño del cuadrito del buscador*/
                                                     /* puse adicional*/  
                            position: absolute;
                            top: 10%;
                            right: 40px;
                            transform: translateY(100%);

                                 &::placeholder {     
                                       color: #FFFFFF;
                                         }
                         }
                   }
                               #Q {
                 
                                  width: 25px;
                                  top: 300%;
                                  transform: translateY(-2300%);
                                  display: block;
                                }
            
                               /*SEGUNDA PARTE*/



                            #negro {      /*galeria*/
                                  display: grid;
                                  grid-template-columns: repeat(2, 1fr);
                                  height: 10px;
                                     h1 {
                                        font-size: 15px;
                                        color: #FFFFFF;
                                       }
                                    p {
                                       font-size: 20px;
                                       color: #000000;
                                      }
                                 }
                    
                           #azul{
                                    display: grid;
                                    grid-template-columns: repeat(3, 1fr);
                                    row-gap: 10px;
                                    width: 65vw;     /*  Azul estaba el fondo se puede aumentar o disminuorel tamaño de la seccion*/
                                                       
                           img{
                                    width: 20vw;
                               }
                            }
                    
                                                        /* overflow-hidden  ocultando o esconde la pantalla toda la seccion trabajada*/
                                                        /*arriba para abajo mide valor absoluto*/
                              .paisciudad {
                                        position: relative;      /*  ojo relativo mide de abajo hacia arriba y no es necesario media curi*/
                                        top: -80px;  
                                        margin-left: 15px;   /* ojo separa  el texto del margen de la imagen*/
                                        }
                             .propiedades{
                                        max-width: 200%;       /* igualar el tamaño de las imagenes*/
                                         }              
                      

                               /* parte de botones derecha*/
                                                
                       #contenido {
                                             
                                    display: grid;
                                    padding-right: 100px;

                          .botones {
                                 display: grid;
                                 grid-template-columns: 1fr 2fr 1fr;
                                 align-items: center;
                          .medio:hover {
                                 color: #000000;
                                 cursor: pointer;
                                 background-color: transparent;
                                 border-radius: 48px;
                                 height: fit-content;
                                 font-size: 30px;
                                 padding: 12px;
                             } 
                           .direcciones {
                                 background-color: transparent;
                                 border: none;
                                 font-size: 20px;
                                }                            
                           .prev {
                                color: #B4B7B7;
                                  }
                           .next {
                               color: #DF991B;
                               font-size: 20px;
                                 }
                          }
                          .textos1 {
                               font-size: larger;
                               text-align: end;
                                 h1 {
                                      color: #DF991B;
                                      margin-bottom: 10px;
                                      font-family: PFRregalDisplayPro;
                                    }
                                 h2 {
                                      color: #000000;
                                      font-size: 50px;    /*tipo de lectra*/
                            }
                        }
                    }  
                  /* ***************TERCERA PARTE***************//* fuente tiene que ser otf o ttf (´/ y el archivo .....´)*/
                
                
                 
                  #galery {
                    display: grid;
                    grid-template-columns:1fr 1fr 1fr 1fr;
                    column-gap: 4%; /*separa las imagenes*/
                    
                    img {
                            width: 25vh;
                        }
                        .contenedormaximo {
                            max-height: 50%;
                            
                           
                        }
                        h1 {
                            color: #464547;
                            justify-content: center ;
                            font-size: 15px;
                                                

                        }
                        p {
                        justify-content: center;
                        font-size: #000000;
                        font-size: 23px;
                        }
                        
                    #tituloprin {
                        font-size: 80px;
                        color: #000000;
                    }
                        }

                        
                        /*****CUARTA PARTE**********/
        footer{
               background-color: #000000;
               width: 230%;
               height: 500px;
               margin-top: 300px;

         .negra {
                      color: #FFFFFF;
                      display: grid;
                      width: 90%;
                      margin: auto;
                      gap: 20px;


               .enlac {
                     display: grid;
                     grid-template-columns: repeat(4, 1fr);
                    
                     font-size: 20px;
   
                   .primer{
                      align-self: self-end;
                      font-size: 20px;

                       }
                   .segund{
                       align-self: center;
                       }
                   .tercer {
                       align-self: self-end;
                       #separado {
                           margin-top: 20px;
                           }
                        } 

                   .medio {
                       justify-self: center;
                       /* es para media quries desaparece*/
                       }
                   .ultim {
                       text-align: right;
                       align-self: self-end;
                        }
                         ul{
                             li{
                                list-style: none;
                              }
                              #numer {
                                font-size: 40px;
                              }
                         }
                  }

                   .copy {
                    border-top: solid 2px #FFFFFF;
                     p{
                       text-align: center;
                       margin: 1px 0;
                       font-size: 20px;
                       
                      }
                     }


            }
                    /* hace un cuadro y divide en dos */
         .gris {      
      
                    width: 90%;
                    background-color: #26282B;
                    margin: auto; /*tiene el mismo margen*/
                    transform: translateY(-50%);/*se mueve laimagen */
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: center;/*alinea de forma vertical */
       

            .segundap {
                     display: grid;
                     padding: 100px;
                     gap: 10px;

                 input{
                     background-color: transparent;
                     border: solid 1px #7e7e7e;
                     border-radius: 24px;
                     padding: 10px 20px;
                     font-size: 20px;
                     }

                 button {
                    background-color: transparent;
                    border: solid 1px #DF991B;
                    color: #DF991B;
                    border-radius: 24px;
                    padding: 10px 20px;
                    font-size: 30px;
                    width: 60%;
                    justify-self: end;
                   }
                  p {
                    margin-left: 20px;
                    color: #FFFFFF;
                    font-size: 20px;
                   }
               }
       
                   #textfooter { 
                       font-size: 30px;
                       color: white;
                       /*centrado el texto  en sentido vertical*/
                       justify-self: center;
                   span {
                       color: #DF991B;
                        }
                      }
           }
        }


        /*MEDIA QUERIES*/
        
        /*Primera Parte*/

        @media (max-windth: 900px) {
              html{
                 background-color: red;
                    }  

     #navmenu {

             #logoi {
                 display: none;
                  }
             #logomovile{
                   display: inline;
                   margin-left: 30px;
                   border: solid 1px white;
                   border-radius: 50%;
                   padding: 20px;
                }
            .links {
                 .idiomas { 
            
                      grid-template-columns: 1fr;
                      justify-items: end;
                      height: 80px;
                        a{
                          display: none;
                         }
                      }
             .registro{
                   display: none;
                     }
                }
        }
   }


                /*Segunda Parte*/
 
       @media (max-width: 800px){
    
        .seccion {
                  grid-template-columns: 1fr;

                  .contenido {
                         display: none;
                         }

                 .galeria {
                 .primera {
                         display: none;
                        }
                 .segunda {
                        grid-column: span 10;
                         }
                 .tercera {
                        grid-column: span 2;
                         }
                 .textos {
                       display: none;
                         }
                     } 
             }
         }

             /***********Tercera Parte***************/
             
        @media screen and (max-width: 768px){
                
            #contenido{
                    display:none;
                    }
            #negro{
                    display: grid;
                    grid-template-columns: 1fr;
                  }
             }
            


         /***********Cuarta Parte************/

          @media (max-width: 1000px){
          
            footer {
              .gris {
               display: none;
               }                            
                                    
             .negra{ 

             .enlac {
                      grid-template-columns: repeat(2, 1fr);
                .medio {
                        margin-top: 15px;
                        justify-self: baseline;   /*cambiar el tipo de letra, color...*/
                        font-size: 18px;
                        font-weight: lighter;
                        display: block;
                      }
                .primer {
                        grid-column: span 2;
                       }
                .ultim {
                       text-align: left;
                       justify-self: baseline;
                       grid-column: span 2;
                       margin-top: 35px;
                      }
                }
                .copy {
                      display: none;
                      }
   
            }
      }
}
